<div class="container">
  <h1>Stupid coaching</h1>
  <form action="/answer" data-turbo="false" label="Ask your coach anything:">
    <div class="form-group">
      <label for="question">Ask your coach anything: </label>
      <input id="question" type="text" name="question" placeholder="Stupid question..." class="form-control" >
    </div>
    <div>
      <input type="submit" class="btn btn-primary" style="margin-top: 8px" value="Ask!">
    </div>
  </form>
</div>
