<div class="container">
  <h1>Stupid coaching</h1>

  <figure style="margin-top: 40px">
    <blockquote class="blockquote">
      <p class="card-text"> <%= @question %> </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">You</cite>
    </figcaption>
  </figure>

  <figure>
    <blockquote class="blockquote">
      <p class="card-text"> <%= @answer %> </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">Your coach</cite>
    </figcaption>
  </figure>

  <%= link_to "Ask a new question", ask_path, class: "btn btn-primary", style: "margin-top: 8px" %>
</div>
